/* Headers Section */

/* Page Header */
h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
	color: #b31b1b;
	background-color: #F0F4F3;
	text-align: center;
	text-decoration: none;
}

/* Article Header */
h2 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 24px;
	color: #b31b1b;
	margin: 10px;
	padding: 0px;
}

/* Section Header */
h3 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
	color: #2A6496;
	margin: 20px;
	padding: 0px;
	text-decoration: underline;
}

/* Unordered Lists - No bullets */
ul#no-bullets li {
    font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #2A6496;
    list-style-type: none;
}

/* Navigation */
ul#page-nav li {
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #2A6496;
	margin: 25px;
	padding: 0px;
	display: inline;
	list-style-type: none;
}

ul#table-of-contents li {
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #2a6496;
}

/* div tags */

/* Body text */
#body-text {
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	margin: 25px;
	padding: 0px;
}

/* h1 hyperlink */
#head-hyperlink {
	font-size: 12px;
	text-decoration: none;
}

.table {
	display: table;
	margin: 0 auto;
}

/*

<h2><a id="section9" name="section9">Section 9.</a></h2>

*/















